$gutter: .6em;
$margin-bottom: .6em;
/**
 *
 *      U T I L I T I E S
 *
 */
.box-shadow {
  box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.1 );
}
.red { color: red!important; }
.bg-red { background-color: red!important; }

.darkred { color: darkred!important; }
.bg-darkred { background-color: darkred!important; }

.blackred { color: #b80000!important; }
.bg-blackred { background-color: #b80000!important; }

.orange { color: orange!important; }
.bg-orange { background-color: orange!important; }

.white { color: white!important; }
.bg-white { background-color: white!important; }
.blue { color: blue!important; }
.bg-blue { background-color: blue!important; }


.grey { color: grey!important; }
.bg-grey { background-color: grey!important; }



.bold { font-weight: bold; }
.fs-80 { font-size: 80%; }
.fs-90 { font-size: 90%; }
.fs-110 { font-size: 110%; }
.fs-120 { font-size: 120%; }


// extention of mt-*
.margin-top-4 { margin-top: 4em; }
.margin-top-5 { margin-top: 5em; }
.margin-top-6 { margin-top: 6em; }

/**
 *
 *      B A S E
 *
 */
/**
 *
 *      L A Y O U T
 *
 */

/**
 *      E N H A N C   BOOTSTRAP
 */

// For container, it is not easy to remove all spaces. Use this to remove all spaces of container.
.no-space {
  margin: 0!important;
  padding: 0!important;
  width: 100%;
  & > .row {
    margin: 0!important;
    padding: 0!important;
    & > [class^="col"] {
      margin: 0!important;
      padding: 0!important;
    }
  }
}

/**
 *
 *      M O D U L E S
 *
 */

.info-box {                         /////////////// info-box //////////////
  display: block;
  margin-bottom: $margin-bottom;
  background: #fff;
  width: 100%;
  min-width: 10em;
  overflow: auto;
  line-height: 1em;
  .icon {
    float: left;
    padding: 1em;
    background: #00c0ef;
    color: white;
  }
  .text {
    float: left;
    padding-left: $gutter;
    .title {
      padding-top: $gutter;
    }
    .content {
      padding-top: $gutter;
      font-weight: bold;
    }
  }
}

.progress-group {
  position: relative;
  margin-bottom: $margin-bottom;

  .text {
    display: block;
    float: left;
  }
  .number {
    display: block;
    text-align: right;
  }


}




