
.red { color: red!important; }
.bg-red { background-color: red!important; }

.darkred { color: darkred!important; }
.bg-darkred { background-color: darkred!important; }

.blackred { color: #b80000!important; }
.bg-blackred { background-color: #b80000!important; }

.orange { color: orange!important; }
.bg-orange { background-color: orange!important; }

.white { color: white!important; }
.bg-white { background-color: white!important; }
.blue { color: blue!important; }
.bg-blue { background-color: blue!important; }


.grey { color: grey!important; }
.bg-grey { background-color: grey!important; }
.lightgrey { color: #eee!important; }
.bg-lightgrey { background-color: #eee!important; }
