

///
.list-menu {
    @include list-style-none();
    @include list-float-left();
    li {
      cursor: pointer;
    }
}


/// for panel menu.
ul.panel {
  @include list-style-none();
  & > li {
    padding: $gutter;
    cursor: pointer;
  }
}
