


// font weight
.normal { font-weight: normal }
.bold { font-weight: bold; }



// font size - percentage
.fs-80 { font-size: 80%; }
.fs-90 { font-size: 90%; }
.fs-100 { font-size: 100%; }
.fs-110 { font-size: 110%; }
.fs-120 { font-size: 120%; }
.fs-130 { font-size: 130%; }
.fs-140 { font-size: 140%; }
.fs-150 { font-size: 150%; }
.fs-160 { font-size: 160%; }
.fs-170 { font-size: 170%; }
.fs-180 { font-size: 180%; }
.fs-190 { font-size: 190%; }
.fs-200 { font-size: 200%; }


// font-size - em
.fs-08em { font-size: .8em; }
.fs-09em { font-size: .9em; }
.fs-1em { font-size: 1em; }
.fs-2em { font-size: 2em; }


.fs-1rem { font-size: 1rem; }
.fs-15rem { font-size: 1.5rem; }
.fs-2rem { font-size: 2rem; }
.fs-25rem { font-size: 2.5rem; }
.fs-3rem { font-size: 3rem; }
.fs-4rem { font-size: 4rem; }
.fs-5rem { font-size: 5rem; }
