
/**
 *
 *      U T I L I T I E S
 *
 */
.box-shadow {
  box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.1 );
}

// extention of mt-*
.margin-top-4 { margin-top: 4em; }
.margin-top-5 { margin-top: 5em; }
.margin-top-6 { margin-top: 6em; }


.list-style-none {
  @include list-style-none();
}

.list-float-left {
  @include list-float-left();
}


// For container, it is not easy to remove all spaces. Use this to remove all spaces of container.
.no-space {
  margin: 0!important;
  padding: 0!important;
  width: 100%;
  & > .row {
    margin: 0!important;
    padding: 0!important;
    & > [class^="col"] {
      margin: 0!important;
      padding: 0!important;
    }
  }
}

//
.pointer {
  cursor: pointer;
}

.pointers {
  & > div {
    cursor: pointer;
  }
}


// butons
.buttons {
  & > div, & > span {
    cursor: pointer;
  }
}


//