
This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.
<div class="container">
    <div class="row">
        <div class="col">
            <div class="progress-group">
                    <span class="progress-text">Add Products to Cart</span>
                    <span class="progress-number"><b>160</b>/200</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                    </div>
                  </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="info-box bg-success">
                <div class="icon"><i class="fa fa-gear fa-3x"></i></div>
                <div class="text">
                    <div class="title">Hello Box</div>
                    <div class="content">88.24%</div>
                </div>
            </div>
        </div>
        <div class="col">
            
            <div class="info-box">
                <div class="icon bg-primary"><i class="fa fa-genderless fa-3x"></i></div>
                <div class="text">
                    <div class="title">Hello Box</div>
                    <div class="content text-primary">88.24%</div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="info-box box-shadow rounded">
                <div class="icon bg-red"><i class="fa fa-google-plus fa-3x"></i></div>
                <div class="text">
                    <div class="title">Google+ Accounts</div>
                    <div class="content">88.24%</div>
                </div>
            </div>
        </div>
        <div class="col">
            
            <div class="info-box">
                <div class="icon bg-primary"><i class="fa fa-genderless fa-3x"></i></div>
                <div class="text">
                    <div class="title">Hello Box</div>
                    <div class="content text-primary">88.24%</div>
                </div>
            </div>

        </div>
    </div>
</div>
This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.
<div class="info-box bg-success text-white box-shadow">
                <div class="icon"><i class="fa fa-gear fa-2x"></i></div>
                <div class="text">
                    <div class="title">Hello Box</div>
                    <div class="content">88.24%</div>
                </div>
            </div>
This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.


